:root {
    --cell-hover-color: bisque;
    font-size: 10px;
}

.sudoku-table {
    display: table;
    margin: auto;
}

.sudoku-row {
    display: table-row;
}

.sudoku-cell {
    font-size: 2rem;
    display: table-cell;
    border: 0.05em solid black;
    padding: 0.3em;
    margin: auto;
    width: 1.3em;
    height: 1.3em;
    text-align: center;
}

.sudoku-cell:hover {
    cursor: pointer;
    background-color: var(--cell-hover-color);
}
