:root {
    --focused-color: grey;
}

.sudoku-table {
    display: table;
    margin: auto;
}

.sudoku-row {
    display: table-row;
}

.sudoku-cell {
    display: table-cell;
    border: 0.1rem solid black;
    padding: 0.3rem;
    margin: auto;
    width: 1.3rem;
    height: 1.3rem;
    text-align: center;
}

.sudoku-cell:hover {
    cursor: pointer;
}
